.ingame {
    -fx-font-family: "Pokémon DS Font";
    -fx-font-size: 18px;
}


/* -------------------- Pause Screen -------------------- */
.pause {
    -fx-background-color: #303030b0;
}

.pause-inner-containers{
    -fx-background-color: transparent;
}

.pause-text {
    -fx-font-size: 70px;
    -fx-fill: white;
}

.pause-shortcut-text {
    -fx-font-size: 45px;
    -fx-fill: white;
}