.ingame {
    -fx-font-family: "Pokémon DS Font";
    -fx-font-size: 18px;
}


/* -------------------- Pause Screen -------------------- */


.pause-inner-containers{
    -fx-background-color: transparent;
}

.pause-text {
    -fx-font-size: 90px;
    -fx-fill: white;
}

.pause-shortcut-text {
    -fx-font-size: 45px;
    -fx-fill: white;
}


/* -------------------- Backpack Menu -------------------- */
.backpack-menu {
    -fx-padding: 12 0 0 0;
}

.backpack-menu-list .list-view{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-style: hidden;
    -fx-hbar-policy: never;
}


.backpack-menu-list .list-cell{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-border-style: hidden;
    -fx-hbar-policy: never;
}

.backpack-menu-entry {
    -fx-font-size: 22px;
    -fx-fill: black;
}