.ingame {
    -fx-font-family: "Pokémon DS Font";
    -fx-font-size: 18px;
}


/* -------------------- Pause Screen -------------------- */


.pause-inner-containers{
    -fx-background-color: transparent;
}

.pause-text {
    -fx-font-size: 90px;
    -fx-fill: white;
}

.pause-shortcut-text {
    -fx-font-size: 45px;
    -fx-fill: white;
}


/* -------------------- Backpack Menu -------------------- */
.backpack-menu {
    -fx-padding: 12 0 0 0;
}

.backpack-menu-list .list-view{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-style: hidden;
    -fx-hbar-policy: never;
}


.backpack-menu-list .list-cell{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-border-style: hidden;
    -fx-hbar-policy: never;
}

.backpack-menu-entry {
    -fx-font-size: 22px;
    -fx-fill: black;
}

/* -------------------- Team Monsters Menu -------------------- */

.outstanding {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: black;
    -fx-border-width: 3px;

}

.team-monster-holder {
    -fx-padding: 4 5 6 10;
}

.team-monster-entry {
    -fx-min-height: 20;
    -fx-min-width: 110;
    -fx-pref-height: 20;
    -fx-pref-width: 110;
    -fx-max-height: 20;
    -fx-max-width: 110;

    -fx-text-alignment: center left;
    -fx-text-overrun: ellipsis;
}

