/*
Load fonts
 */

@font-face {
    font-family: "Balsamiq Sans Regular";
    font-style: normal;
    font-weight: 400;
    src: url("de/uniks/stpmon/k/views/fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
    font-family: "Balsamiq Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: url("de/uniks/stpmon/k/views/fonts/BalsamiqSans-Bold.ttf");
}
@font-face {
    font-family: "Balsamiq Sans Italic";
    font-style: italic;
    font-weight: 400;
    src: url("de/uniks/stpmon/k/views/fonts/BalsamiqSans-Italic.ttf");
}
@font-face {
    font-family: "Open Sans BoldItalic";
    font-style: italic;
    font-weight: 700;
    src: url("de/uniks/stpmon/k/views/fonts/BalsamiqSans-BoldItalic.ttf");
}

