/*
Load fonts
 */

@font-face {
    font-family: "Balsamiq Sans Regular";
    font-weight: 200;
    src: url("../fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
    font-family: "Balsamiq Sans Bold";
    font-weight: 700;
    src: url("../fonts/BalsamiqSans-Bold.ttf");
}
@font-face {
    font-family: "Balsamiq Sans Italic";
    font-weight: 400;
    src: url("../fonts/BalsamiqSans-Italic.ttf");
}

.root {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16;
    -fx-font-smoothing-type: gray;


    -fx-color-kgm-red:#AE2F34;
    -fx-color-kgm-yellow:#FCF1D0;
    -fx-color-red:#CF2A27;
    -fx-color-blue:#2B78E4;
    -fx-color-light-blue:#9FC5F8;
    -fx-color-light-green:#B6D7A8;
    -fx-color-yellow:#FFE599;
    -fx-color-grey: #707070;
    -fx-color-light-grey:#909090;
    -fx-color-dark-white: #F2F2F2;



}
/* -------------------- General Items -------------------- */
.kgm-general-button-blue{
    -fx-opacity: 1.0;
    -fx-background-color: -fx-color-blue;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(one-pass-box, black, 0, 1, 3, 3);
    -fx-border-style: solid outside;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.kgm-general-button-blue:disabled{
    -fx-opacity: 1.0;
    -fx-background-color: -fx-color-light-blue;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(one-pass-box, -fx-color-light-grey, 0, 1, 3, 3);
    -fx-border-style: solid outside;
    -fx-border-radius: 0;
    -fx-border-color: -fx-color-light-grey;
    -fx-border-width: 3px;
}

.kgm-general-button-white{
    -fx-opacity: 1.0;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(one-pass-box, black, 0, 1, 3, 3);
    -fx-border-style: solid outside;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.kgm-general-button-white:disabled{
    -fx-opacity: 1.0;
    -fx-background-color: -fx-color-dark-white;
    -fx-text-fill: -fx-color-light-grey;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(one-pass-box, -fx-color-light-grey, 0, 1, 3, 3);
    -fx-border-style: solid outside;
    -fx-border-radius: 0;
    -fx-border-color: -fx-color-light-grey;
    -fx-border-width: 3px;
}



/* -------------------- Loading Screen -------------------- */
.loading-screen {
    -fx-background-color: -fx-color-kgm-yellow;
}

/* -------------------- Login Window -------------------- */
.login-background {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
}

.login-window {
    -fx-background-color: -fx-color-kgm-yellow;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 3;
    -fx-pref-width: 400;
    -fx-pref-height: 500;
    -fx-min-width: 400;
    -fx-min-height: 500;
    -fx-max-width: 400;
    -fx-max-height: 500;
    -fx-spacing: 13;
}

.login-element {
    -fx-pref-width: 250;
    -fx-pref-height: 35;
    -fx-min-width: 250;
    -fx-min-height: 35;
    -fx-max-width: 250;
    -fx-max-height: 35;
}

.login-text-input {
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-border-style: solid outside;
    -fx-border-radius: 0;
    -fx-border-color: -fx-color-light-grey;
    -fx-border-width: 3px;
    -fx-background-radius: 0px;
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.login-password-button {
    -fx-pref-width: 45;
    -fx-pref-height: 35;
    -fx-min-width: 45;
    -fx-min-height: 35;
    -fx-max-width: 45;
    -fx-max-height: 35;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-icon-size: 24;
}

.login-check-box {
    -fx-alignment: center-left;
    -fx-text-fill: black;
}

.login-check-box .box {
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;

}

.login-lang-selection {
    -fx-border-style: solid outside;
    -fx-border-radius: 0;
    -fx-border-color: -fx-color-light-grey;
    -fx-border-width: 3px;
    -fx-background-radius: 0px;
    -fx-background-color: white;
    -fx-alignment: center;
}

.login-radio-button{
    -fx-pref-width: 110;
    -fx-pref-height: 30;
    -fx-min-width: 110;
    -fx-min-height: 30;
    -fx-max-width: 110;
    -fx-max-height: 30;
}

.login-error-text {
    -fx-text-fill: -fx-color-red;
    -fx-text-overrun: ellipsis;
    -fx-font-size: 12;
}


/* -------------------- Introduction -------------------- */
.intro-screen {
    -fx-background-color: -fx-color-kgm-yellow;
}

.intro-container {
    -fx-background-color: -fx-color-kgm-yellow;
}


/* -------------------- SideBar -------------------- */
.sidebar-holder {
    -fx-background-color: -fx-color-kgm-red;
    -fx-background-radius: 0;

    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 3;

    -fx-pref-width: 50;
    -fx-min-width: 50;
    -fx-max-width: 50;
}

.sidebar-button {
    -fx-background-color: -fx-color-kgm-red;
    -fx-background-radius: 0;

    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 3;
    -fx-border-style: solid outside;

    -fx-pref-width: 44;
    -fx-pref-height: 44;
    -fx-min-width: 44;
    -fx-min-height: 44;
    -fx-max-width: 44;
    -fx-max-height: 44;

    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-alignment: center;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.sidebar-button .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 30px;
}


.sidebar-button:pressed {
    -fx-background-color: -fx-color-kgm-yellow;
}
.sidebar-button:pressed .ikonli-font-icon {
    -fx-icon-color: black;
    -fx-icon-size: 30px;
}

.sidebar-button:hover {
    -fx-background-color: -fx-color-kgm-yellow;
}
.sidebar-button:hover .ikonli-font-icon {
    -fx-icon-color: black;
    -fx-icon-size: 30px;
}

/* -------------------- Friends -------------------- */



/* -------------------- Chat -------------------- */



/* -------------------- Settings -------------------- */

